<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title>
</head>
<body>
    <h1 style="color: navy;">Iniciar sesión en el sistema</h1>
    <hr>

    <form>
        <p>Apodo o alias</p>
        <input type="text" placeholder="Ej: Notero123">

        <p>Contraseña</p>
        <input type="password" placeholder="Ingresa tu contraseña">
        <br><br>

        <button type="submit">Enviar</button>
    </form>

    <br>
    <a href="/">¿No tienes cuenta? Regístrate aquí</a>

</body>
</html>
