<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de cuenta</title>
</head>
<body>
    <h1 style="color: navy;">Registrarse en el sistema</h1>
    <hr>
            <!-- Campo para el nombre -->
            <form>
                Nombre completo
                <input type="text" placeholder="Ingresa tu nombre completo">
            </form>
            <br>
            <!-- Campo para el apellido -->
            <form>
                Apellido completo
                <input type="text" placeholder="Ingresa tu apellido completo">
            </form>
            <br>
            <!-- Campo para el teléfono -->
            <form>
                Teléfono
                <input type="tel" placeholder="Ej: 3123456789">
            </form>
            <br>
            <!-- Campo para el correo electrónico -->
            <form>
                Correo electrónico
                <input type="email" placeholder="correo@ejemplo.com">
            </form>
            <br>
            <!-- Campo para el apodo o alias -->

            <form>
                Apodo o alias
               <input type="text" placeholder="Ej: Notero123">
            </form>
            <br>
            <!-- Campo para la contraseña -->
            <form>
                Contraseña
                <input type="password" placeholder="Crear  una contraseña">
                
            </form>
            <br>
            <button type = "submit">Enviar</button>
    
</body>
</html>
